/*!
 * Theme Name:  Gero Starter
 * Theme URI:   http://www.seothemes.com/themes/gero-starter/
 * Description: Starter theme for the Genesis Framework.
 * Author:      SEO Themes
 * Author URI:  http://www.seothemes.com/
 * Version:     1.0.0
 * Text Domain: gero-starter
 * Tags:        one-column, two-columns, left-sidebar, right-sidebar, accessibility-ready, custom-logo, custom-background, custom-colors, custom-header, custom-menu, featured-images, full-width-template, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready.
 * Template:    genesis
 * Template     Version: 2.5.2
 * License:     GPL-2.0+
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 * GitHub URI:  https://github.com/seothemes/gero-starter
 */
/* # Table of Contents

- Utilities
    - Variables
    - Mixins
    - Functions
- Reset
    - Baseline Normalize
    - Box Sizing
    - Float Clearing
- Defaults
    - Typography
    - Headings
    - Forms
    - Objects
    - Tables
    - Accessibility
- Layout
    - Site Containers
    - Content Width
    - Column Classes
    - Gallery
- Common
    - Avatars
    - Genesis
    - Search Form
    - Titles
    - WordPress
- Header
    - Before Header
    - Site Header
    - Title Area
    - Widget Area
    - Hero Section
- Menus
    - Menus
    - Sub Menus
    - Specific Menus
    - Menu Toggles
- Content
    - Entries
    - Entry Meta
    - Pagination
    - Comments
- Sidebars
    - Widgets
    - Sidebars
- Footer
    - Site Footer
    - Footer Widgets
- Plugins
    - Gravity Forms
- Home
    - Front Page
    - Custom Header
- Print
    - Print Styles
*/
/* # Variables
-----------------------------------------------------------------------*/
/**
 * ### Breakpoints
 *
 * Based on the most common 16:9 screen resolutions.
 *
 * @link https://pacoup.com/2011/06/12/list-of-true-169-resolutions/
 */
/* ### Colors */
/* ### Typography */
/* ### Other */
/**
 * ### Columns (including fifths)
 *
 * Why not just memorize them?
 *
 * @link https://gist.github.com/wpsmith/6201969
 */
/* # Mixins
-----------------------------------------------------------------------*/
/* ### Media Queries */
/* ### Clearfix */
/* ### Transitions */
/* normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
    line-height: 1.15;
    /* 1 */
        -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
    margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
    display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
    /* 1 */
    display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
    margin: 1em 40px;
    margin: 1em 4rem;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
    background-color: transparent;
    /* 1 */
    -webkit-text-decoration-skip: objects;
    /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
    /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
    font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
    font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
    font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
    background-color: #ffff00;
    color: #000000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
    display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
    border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
    overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
    /* 1 */
    overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
    /* 1 */
    text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
    /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
    outline: 1px dotted ButtonText;
    outline: 0.1rem dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
    box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
    display: inline-block;
    /* 1 */
    vertical-align: baseline;
    /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
    overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type='checkbox'],
[type='radio'] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type='search'] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    outline-offset: -0.2rem;
    /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
    display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
    display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
    display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
    display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
    display: none;
}

/* ## Box Sizing
--------------------------------------------- */
html,
input[type='search'] {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* ## Float Clearing
--------------------------------------------- */
.author-box,
.clearfix,
.entry,
.entry-content,
.footer-widgets,
.nav-primary,
.nav-secondary,
.pagination,
.site-container,
.site-footer,
.site-header,
.site-inner,
.widget,
.wrap {
    clear: both;
}

.author-box:before,
.author-box:after,
.clearfix:before,
.clearfix:after,
.entry:before,
.entry:after,
.entry-content:before,
.entry-content:after,
.footer-widgets:before,
.footer-widgets:after,
.nav-primary:before,
.nav-primary:after,
.nav-secondary:before,
.nav-secondary:after,
.pagination:before,
.pagination:after,
.site-container:before,
.site-container:after,
.site-footer:before,
.site-footer:after,
.site-header:before,
.site-header:after,
.site-inner:before,
.site-inner:after,
.widget:before,
.widget:after,
.wrap:before,
.wrap:after {
    clear: both;
    display: block;
    content: '';
}

/* ## Typography
--------------------------------------------- */
* {
    -webkit-tap-highlight-color: transparent;
}

::-moz-selection {
    background-color: #30353a;
    color: #ffffff;
}

::selection {
    background-color: #30353a;
    color: #ffffff;
}

html {
    font-size: 62.5%;
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    background-color: #f4f5f6;
    color: #30353a;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.618;
    -webkit-font-smoothing: antialiased;
       -moz-font-smoothing: grayscale;
    margin: 0;
    max-width: 100vw;
    overflow-x: hidden;
}

body > div {
    font-size: 18px;
    font-size: 1.8rem;
}

p {
    margin: 0 0 1.382em;
    padding: 0;
}

a {
    color: #a0a8af;
    word-wrap: break-word;
}

a:hover,
a:focus {
    color: #30353a;
    outline: none;
}

ol,
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

hr {
    border: 0;
    border-collapse: collapse;
    border-bottom: 1px solid #f0f1f2;
    border-bottom: 0.1rem solid #f0f1f2;
    clear: both;
    padding: 1em 0 0;
    margin: 0 0 2em;
}

b,
strong {
    font-weight: 600;
}

blockquote,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    border-left: 1px solid #f0f1f2;
    border-left: 0.1rem solid #f0f1f2;
    margin: 1em 0;
    padding: 0 1em;
}

/* ## Headings
--------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    font-weight: 600;
    line-height: 1.236;
    margin: 0 0 0.618em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1.1em;
}

h6 {
    font-size: 1em;
}

/* ## Forms
--------------------------------------------- */
input,
select,
textarea {
    background-color: #ffffff;
    border: 1px solid #f0f1f2;
    border: 0.1rem solid #f0f1f2;
    border-radius: 0.1rem;
    padding: 0.5em 1em;
    width: 100%;
    line-height: 2;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
    border-color: #a0a8af;
}

:focus {
    outline: 1px solid #f0f1f2;
    outline: 0.1rem solid #f0f1f2;
}

input[type='checkbox'],
input[type='image'],
input[type='radio'] {
    width: auto;
}

input[type='search'] {
    -webkit-appearance: none;
}

::-moz-placeholder {
    color: #30353a;
    opacity: 1;
}

::-webkit-input-placeholder {
    color: #30353a;
}

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
    background-color: #30353a;
    border: 0;
    border-radius: 0.1rem;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1em 2em;
    text-decoration: none;
    display: inline-block;
    width: auto;
    height: auto;
    line-height: 1;
    transition: all 0.3s ease;
    box-shadow: inset 0 0 0 9rem rgba(255, 255, 255, 0);
}

.button:hover,
.button:focus,
button:hover,
button:focus,
input[type='button']:hover,
input[type='button']:focus,
input[type='reset']:hover,
input[type='reset']:focus,
input[type='submit']:hover,
input[type='submit']:focus {
    color: #ffffff;
    box-shadow: inset 0 0 0 9rem rgba(255, 255, 255, 0.2);
}

.button.secondary,
button.secondary,
input[type='button'].secondary,
input[type='reset'].secondary,
input[type='submit'].secondary {
    background-color: #a0a8af;
}

.button.small,
button.small,
input[type='button'].small,
input[type='reset'].small,
input[type='submit'].small {
    font-size: 12px;
    font-size: 1.2rem;
}

.button.large,
button.large,
input[type='button'].large,
input[type='reset'].large,
input[type='submit'].large {
    font-size: 18px;
    font-size: 1.8rem;
}

.button:disabled,
button:disabled,
input[type='button']:disabled,
input[type='reset']:disabled,
input[type='submit']:disabled {
    background-color: #f4f5f6;
    border-width: 0;
    color: #6a7681;
    cursor: not-allowed;
}

.button + button,
.button + .button,
button + button,
button + .button,
input[type='button'] + button,
input[type='button'] + .button,
input[type='reset'] + button,
input[type='reset'] + .button,
input[type='submit'] + button,
input[type='submit'] + .button {
    margin-top: 1em;
    clear: both;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button {
    display: none;
}

fieldset {
    margin-bottom: 1em;
}

/* ## Objects
--------------------------------------------- */
embed,
iframe,
img,
object,
video,
.wp-caption,
.wp-video-shortcode {
    max-width: 100%;
    display: block;
}

img {
    height: auto;
}

figure {
    margin: 0;
}

video {
    object-fit: cover;
}

.wp-video-shortcode {
    width: auto !important;
}

/* ## Tables
--------------------------------------------- */
table {
    background-color: #ffffff;
    border: 1px solid #f0f1f2;
    border: 0.1rem solid #f0f1f2;
    border-collapse: collapse;
    border-spacing: 0;
    line-height: 1;
    margin-bottom: 40px;
    margin-bottom: 4rem;
    width: 100%;
}

tbody {
    border-bottom: 1px solid #f0f1f2;
    border-bottom: 0.1rem solid #f0f1f2;
}

td,
th {
    text-align: left;
    padding: 0.618em;
    border-top: 1px solid #f0f1f2;
    border-top: 0.1rem solid #f0f1f2;
    border-right: 1px solid #f0f1f2;
    border-right: 0.1rem solid #f0f1f2;
}

/* ## Accessibility
--------------------------------------------- */
.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut,
.wp-custom-logo .site-title,
.wp-custom-logo .site-description {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    height: 0.1rem;
    width: 1px;
    width: 0.1rem;
    border: 0;
    overflow: hidden;
}

.screen-reader-text:focus,
.screen-reader-shortcut:focus {
    clip: auto !important;
    height: auto;
    width: auto;
    display: block;
    padding: 10px 20px;
    padding: 1rem 2rem;
    z-index: 100000;
    text-decoration: none;
    box-shadow: 0 0 0.2rem 0.2rem rgba(48, 53, 58, 0.1);
}

.more-link {
    position: relative;
    font-style: normal;
}

.genesis-skip-link {
    margin: 0;
}

.genesis-skip-link li {
    height: 0;
    width: 0;
    list-style: none;
}

/* ## Site Containers
--------------------------------------------- */
.content-sidebar-wrap,
.wrap {
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
}

.content-sidebar-wrap .wrap,
.wrap .wrap {
    max-width: 100%;
    width: auto;
    padding: 0;
}

.site-inner {
    clear: both;
}

.page-builder .site-inner {
    border-top: 1px solid #f0f1f2;
    border-top: 0.1rem solid #f0f1f2;
    border-bottom: 1px solid #f0f1f2;
    border-bottom: 0.1rem solid #f0f1f2;
}

.content-sidebar-wrap {
    max-width: 1280px;
    padding-top: 5%;
    padding-bottom: 5%;
}

/* ## Content Widths and Positions
--------------------------------------------- */

/* ## Column Classes (including fifths)
--------------------------------------------- */

/* ## Gallery
--------------------------------------------- */
.gallery,
.gallery-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.gallery a {
    display: block;
    min-height: 100%;
}

.gallery img {
    height: auto;
    width: 100%;
    display: block;
}

.gallery-caption {
    display: block;
}

.gallery-item {
    width: 100%;
    margin: 0 0 5vw;
    text-align: center;
    display: block;
}

/* ## Avatars
--------------------------------------------- */
.avatar {
    border-radius: 50%;
    margin-right: 20px;
    margin-right: 2rem;
    float: left;
}

.alignright .avatar {
    margin-left: 20px;
    margin-left: 2rem;
}

/* ## Genesis
--------------------------------------------- */
.breadcrumb {
    padding: 1em 6vw;
    background-color: #ffffff;
    border-bottom: 1px solid #f0f1f2;
    border-bottom: 0.1rem solid #f0f1f2;
    font-size: 14px;
    font-size: 1.4rem;
    width: 100%;
}

.after-entry,
.author-box {
    margin-bottom: 5%;
    background-color: #ffffff;
    padding: 6vw;
}

.entry + .author-box {
    margin-top: 6vw;
}

.author-box p:last-of-type {
    margin-bottom: 0;
}

/* ## Search Form
--------------------------------------------- */
.search-form {
    display: block;
    width: 100%;
    position: relative;
    clear: both;
}

.search-form:before,
.search-form:after {
    clear: both;
    display: block;
    content: '';
}

.search-form input[type='search'] {
    width: 100%;
}

.search-form input[type='submit'] {
    display: none;
}

.entry .search-form {
    margin-bottom: 40px;
    margin-bottom: 4rem;
}

/* ## Titles
--------------------------------------------- */
.author-box-content {
    font-size: 16px;
    font-size: 1.6rem;
}

.entry-title a {
    color: #30353a;
    text-decoration: none;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

.entry-title a:hover {
    color: #a0a8af;
}

/* ## WordPress
--------------------------------------------- */
a.aligncenter img {
    display: block;
    margin: 0 auto;
}

a.alignnone {
    display: inline-block;
}

.alignleft {
    float: left;
    text-align: left;
}

.alignright {
    float: right;
    text-align: right;
}

a.alignleft,
a.alignnone,
a.alignright {
    max-width: 100%;
}

img.centered,
.aligncenter {
    display: block;
    margin: 0 auto 1em;
}

img.alignnone,
.alignnone {
    margin-bottom: 1em;
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
    margin: 0 1em 1em 0;
}

a.alignright,
img.alignright,
.wp-caption.alignright {
    margin: 0 0 1em 1em;
}

.wp-caption-text {
    font-size: 14px;
    font-size: 1.4rem;
    margin: 0;
    text-align: center;
}

.entry-content p.wp-caption-text {
    margin-bottom: 0;
}

.entry-content .wp-audio-shortcode,
.entry-content .wp-playlist,
.entry-content .wp-video {
    margin: 0 0 1em;
}

.sticky,
.bypostauthor {
    background-color: transparent;
}

/* ## Site Header
--------------------------------------------- */
.site-header {
    position: absolute;
    width: 100%;
    z-index: 100;
    background-color: #ffffff;
    border-bottom: 1px solid #f0f1f2;
    border-bottom: 0.1rem solid #f0f1f2;
}

.fixed-header .site-header {
    position: fixed;
}

.site-header > .wrap {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

/* ## Title Area
--------------------------------------------- */
.title-area {
    margin: 0 auto 0 0;
    position: relative;
    height: 100%;
    display: block;
    -ms-flex: 1;
        flex: 1;
    padding: 0.618em 0;
    max-width: 180px;
    max-width: 18rem;
    transition: all 0.3s ease;
}

.fixed-header .shrink .title-area {
    padding: 0.382em 0;
}

.site-title {
    font-size: 24px;
    font-size: 2.4rem;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 0;
}

.site-title a {
    color: #30353a;
    text-decoration: none;
}

.site-description {
    font-size: 14px;
    font-size: 1.4rem;
    margin-bottom: 0;
    line-height: 1;
}

/* ## Page Header
--------------------------------------------- */
.page-header {
    width: 100%;
    margin: 0 auto;
    padding: calc(6vw + 7rem) 0 6vw;
    background-size: cover;
    background-position: center;
    position: relative;
}

.page-header:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 1;
}

.page-header .wrap {
    position: relative;
    z-index: 2;
}

.page-header h1 {
    width: 100%;
    margin-bottom: 0;
    text-transform: capitalize;
}

.page-header p {
    width: 100%;
    margin: 1em 0 0;
}

.page-header .widget {
    background: transparent;
}

/* ## Menus
--------------------------------------------- */
.menu {
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1;
    text-align: left;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    clear: both;
}

.menu:before,
.menu:after {
    clear: both;
    display: block;
    content: '';
}

.menu-item {
    display: block;
    padding: 5px 0;
    padding: 0.5rem 0;
    width: 100%;
    position: relative;
}

.menu-item.right {
    margin-left: auto;
}

.menu-item a {
    text-decoration: none;
    display: block;
    padding: 0.5em 0;
    color: #30353a;
}

.menu-item a:hover,
.menu-item a:focus,
.menu-item.current-menu-item > a {
    color: #a0a8af;
}

/* ## Sub Menus
--------------------------------------------- */
.sub-menu {
    display: none;
    font-size: 14px;
    font-size: 1.4rem;
    clear: both;
}

.sub-menu:before,
.sub-menu:after {
    clear: both;
    display: block;
    content: '';
}

.sub-menu li {
    width: 100%;
}

.sub-menu li:first-of-type {
    margin-top: 0.5em;
}

.sub-menu li:first-of-type a {
    padding-left: 1em;
}

.sub-menu a {
    padding-left: 1em;
}

.sub-menu .sub-menu {
    padding-left: 1em;
}

/* ## Specific Menus
--------------------------------------------- */
.nav-primary,
.nav-secondary {
    width: 100vw;
    margin: 0;
    padding: 0 5vw;
    background-color: #ffffff;
    border-top: 1px solid #f0f1f2;
    border-top: 0.1rem solid #f0f1f2;
    border-bottom: 1px solid #f0f1f2;
    border-bottom: 0.1rem solid #f0f1f2;
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
}

.no-js .nav-primary,
.no-js
.nav-secondary {
    width: 100%;
    position: relative;
    display: block;
}

.no-js .nav-primary .wrap,
.no-js
.nav-secondary .wrap {
    padding: 0 5%;
}

.no-js .nav-primary .menu-item,
.no-js
.nav-secondary .menu-item {
    display: inline-block;
    width: auto;
    margin: 0 0.5em;
}

.nav-primary .menu,
.nav-secondary .menu {
    padding: 0.5em 0;
}

.nav-secondary {
    width: 100%;
}

.nav-footer .menu {
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 1em;
}

.nav-footer .menu-item {
    width: auto;
}

.nav-footer .menu-item a {
    padding: 0;
    margin: 0 1em;
}

/* ## Menu Toggles
--------------------------------------------- */
.menu-toggle {
    padding: 27px 0;
    padding: 2.7rem 0;
    cursor: pointer;
    background-color: transparent;
    display: block;
    position: relative;
    line-height: 1;
    color: #30353a;
}

.menu-toggle:hover,
.menu-toggle:focus {
    background: none;
    outline: none;
    box-shadow: none;
    color: #30353a;
}

.menu-toggle:focus {
    outline: 1px solid #f0f1f2;
    outline: 0.1rem solid #f0f1f2;
    background: none;
}

.menu-toggle span {
    display: block;
    float: right;
    position: relative;
    height: 2px;
    height: 0.2rem;
    background: #30353a;
    transition: background 0s 0.2s;
    width: 25px;
    width: 2.5rem;
    margin-left: 0.236em;
    margin-top: 8px;
    margin-top: 0.8rem;
    border-radius: 0.1rem;
}

.menu-toggle span::before,
.menu-toggle span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    height: 0.2rem;
    background-color: #30353a;
    border-radius: 0.1rem;
    content: ' ';
}

.menu-toggle span::before {
    top: -7px;
    top: -0.7rem;
    transition: top 0.2s 0.2s, transform 0.2s 0s;
}

.menu-toggle span::after {
    bottom: -7px;
    bottom: -0.7rem;
    transition: bottom 0.2s 0.2s, transform 0.2s 0s;
}

.menu-toggle.activated span {
    background: none;
}

.menu-toggle.activated span::before {
    top: 0;
    transform: rotate(45deg);
    transition: top 0.2s 0s, transform 0.2s 0.2s;
}

.menu-toggle.activated span::after {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 0.2s 0s, transform 0.2s 0.2s;
}

.sub-menu-toggle {
    position: absolute;
    right: 0;
    top: 0.25em;
    background: none;
    padding: 0.75em;
    margin: 0 -0.75em;
}

.sub-menu-toggle:hover,
.sub-menu-toggle:focus {
    background: none;
}

.sub-menu-toggle:before {
    content: '';
    display: block;
    margin: 2px 0 -2px;
    margin: 0.2rem 0 -0.2rem;
    border: 4px solid transparent;
    border: 0.4rem solid transparent;
    border-top-color: #30353a;
}

.sub-menu-toggle.activated:before {
    transform: rotate(180deg);
    margin: -2px 0 2px;
    margin: -0.2rem 0 0.2rem;
}

/* ## Entries
--------------------------------------------- */
.entry {
    background-color: #ffffff;
    margin-bottom: 5vw;
    padding: 6vw;
}

.entry:last-of-type {
    margin-bottom: 0;
}

.entry-content {
    clear: both;
}

.entry-content:before,
.entry-content:after {
    clear: both;
    display: block;
    content: '';
}

.entry-content ol,
.entry-content ul {
    margin-bottom: 1em;
    margin-left: 40px;
    margin-left: 4rem;
}

.error404 .entry-content ol,
.error404
.entry-content ul {
    margin-bottom: 40px;
    margin-bottom: 4rem;
}

.entry-content ol > li {
    list-style-type: decimal;
}

.entry-content ul > li {
    list-style-type: disc;
}

.entry-content ol ol,
.entry-content ul ul {
    margin-bottom: 0;
}

.entry-content li li {
    list-style-type: circle;
}

.entry-content code {
    background-color: #f4f5f6;
    display: block;
    padding: 10px 20px;
    padding: 1rem 2rem;
    border: 1px solid #f0f1f2;
    border: 0.1rem solid #f0f1f2;
    margin-top: 1em;
    font-size: 16px;
    font-size: 1.6rem;
}

.entry-content input,
.entry-content select,
.entry-content textarea {
    margin-bottom: 1em;
}

.entry-content > *:last-child {
    margin-bottom: 0;
}

.entry-image-link {
    display: block;
    margin-bottom: 1em;
}

.entry-image-link img {
    display: block;
}

/* ## Entry Meta
--------------------------------------------- */
p.entry-meta {
    font-size: 16px;
    font-size: 1.6rem;
    margin-bottom: 0;
}

.entry-header p.entry-meta {
    margin-bottom: 1em;
}

.entry-categories,
.entry-tags {
    display: block;
}

.entry-author-name {
    text-transform: capitalize;
}

.entry-footer {
    border-top: 1px solid #f0f1f2;
    border-top: 0.1rem solid #f0f1f2;
    margin-top: 5vw;
    padding-top: 5vw;
}

/* ## Pagination
--------------------------------------------- */
.pagination {
    margin: 5vw 0;
    clear: both;
}

.pagination:before,
.pagination:after {
    clear: both;
    display: block;
    content: '';
}

.adjacent-entry-pagination {
    margin-bottom: 0;
}

.archive-pagination ul {
    display: -ms-flexbox;
    display: flex;
}

.archive-pagination li {
    margin: 0 0.25em 0 0;
}

.archive-pagination a {
    background-color: #ffffff;
    color: #30353a;
    font-size: 16px;
    font-size: 1.6rem;
    padding: 7.5px 10px;
    padding: 0.75rem 1rem;
    border-radius: 0.1rem;
    text-decoration: none;
    display: block;
}

.archive-pagination a:hover,
.archive-pagination .active a {
    background-color: #a0a8af;
    color: #ffffff;
}

/* ## Comments
--------------------------------------------- */
.comment-respond,
.entry-comments,
.entry-pings {
    background-color: #ffffff;
    font-size: 16px;
    font-size: 1.6rem;
    margin-top: 40px;
    margin-top: 4rem;
    padding: 6vw;
}

.comment-respond .form-submit {
    margin-bottom: 0;
}

.comment-list li {
    padding: 40px 0 0 5vw;
    padding: 4rem 0 0 5vw;
}

.comment-list .depth-1 {
    padding-left: 0;
}

.comment-list .comment-respond {
    padding: 0 0 0 1em;
}

.comment-list > .comment-respond {
    padding: 0;
}

.comment-header {
    margin-bottom: 5vw;
}

.comment-header p {
    margin-bottom: 0;
}

.comment-edit-link {
    padding-left: calc(4.8rem + 1em);
}

.entry-pings .comment-edit-link {
    padding: 0;
    clear: both;
    display: block;
}

.comment-meta {
    padding-left: calc(4.8rem + 1em);
    word-break: break-all;
}

.entry-pings .comment-meta {
    padding: 0 0 1em;
}

.comment-content {
    clear: both;
}

.comment-content ul > li {
    list-style-type: disc;
}

.comment-respond input[type='email'] label,
.comment-respond input[type='text'] label,
.comment-respond input[type='url'] label {
    display: block;
    margin-right: 10px;
    margin-right: 1rem;
}

.entry-pings .reply {
    display: none;
}

.pingback:last-of-type p {
    margin-bottom: 0;
}

/* ## Widgets
--------------------------------------------- */
.widget {
    margin-bottom: 6vw;
    word-wrap: break-word;
    background-color: #ffffff;
}

.widget:last-of-type {
    margin-bottom: 0;
}

.sidebar .widget {
    margin-bottom: 0;
    margin-top: 5vw;
    font-size: 16px;
    font-size: 1.6rem;
    padding: 6vw;
}

.widget p:last-of-type {
    margin-bottom: 0;
}

.widget ul > li:last-of-type:not(.gfield) {
    margin-bottom: 0;
}

.widget ul > li {
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
}

.widget ul > li:last-of-type {
    padding-bottom: 0;
}

.widget ol > li {
    list-style-position: inside;
    list-style-type: decimal;
    padding-left: 1em;
    text-indent: -1em;
}

.widget li li {
    border: 0;
    margin: 0 0 0 1em;
    padding: 0;
}

.widget-title {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-size: 2rem;
}

.widget_calendar table {
    width: 100%;
}

.widget_calendar td,
.widget_calendar th {
    text-align: center;
}

/* ## Site Footer
--------------------------------------------- */
.site-footer {
    width: 100%;
    background-color: #ffffff;
    font-size: 18px;
    font-size: 1.8rem;
}

.site-footer > .wrap {
    margin: 0 auto;
    padding: 5vw;
    text-align: center;
    font-size: 16px;
    font-size: 1.6rem;
    position: relative;
}

.site-footer > .wrap:last-of-type {
    margin-bottom: 0;
}

.site-footer p:last-of-type {
    margin-bottom: 0;
}

/* ## Footer Widgets
--------------------------------------------- */
.footer-widgets {
    padding: 60px 0;
    padding: 6rem 0;
    border-bottom: 1px solid #f0f1f2;
    border-bottom: 0.1rem solid #f0f1f2;
}

.footer-widgets .widget-area {
    margin: 0 auto 40px;
    margin: 0 auto 4rem;
}

.footer-widgets .widget-area:last-of-type {
    margin-bottom: 0;
}

.footer-widgets .widget-area .widget {
    width: 100%;
    display: block;
    margin: 0 auto 2em;
}

.footer-widgets .widget-area .widget:last-of-type {
    margin-bottom: 0;
}

/* ## Gravity Forms
--------------------------------------------- */
.gform_heading,
.gform_body,
.gform_footer {
    clear: both;
}

.gform_heading {
    padding-bottom: 1em;
}

.gform_wrapper .gform_fields {
    list-style: none;
    margin: 0 -10px;
    margin: 0 -1rem;
    padding: 0;
}

.gform_wrapper .gform_fields li {
    list-style-type: none;
}

.gform_wrapper .gfield_checkbox,
.gform_wrapper .gfield_radio {
    list-style: none;
    padding: 0;
}

.ginput_container span {
    margin-bottom: 10px;
    margin-bottom: 1rem;
}

.ginput_container input,
.ginput_container select,
.ginput_container textarea {
    width: 100%;
}

.ginput_container input,
.ginput_container textarea {
    margin: 0;
}

.gfield_label {
    display: inline-block;
    padding-bottom: 10px;
    padding-bottom: 1rem;
}

.gfield_label:empty {
    display: none;
}

.left_label .gfield_label {
    float: left;
}

.right_label .gfield_label {
    float: right;
}

.gfield_required {
    padding-left: 0.1em;
}

.gfield_checkbox li,
.gfield_radio li {
    width: 100%;
}

.gfield_checkbox input,
.gfield_radio input {
    width: auto;
    float: left;
    margin-right: 10px;
    margin-right: 1rem;
}

.gfield_checkbox label,
.gfield_radio label {
    float: left;
    line-height: 1;
}

.gsection {
    margin: 10px 0;
    margin: 1rem 0;
}

.gsection h2 {
    border-bottom: 1px solid #f0f1f2;
    border-bottom: 0.1rem solid #f0f1f2;
    padding-bottom: 10px;
    padding-bottom: 1rem;
}

.validation_error,
.gf_progressbar_wrapper {
    padding-bottom: 1em;
}

.gf_progressbar {
    background: #f4f5f6;
}

.gf_progressbar_percentage {
    background: #30353a;
    padding: 5px 10px;
    padding: 0.5rem 1rem;
    text-align: right;
}

.gfield_time_hour,
.gfield_time_minute,
.gfield_time_ampm {
    display: inline-block;
}

.gfield_time_hour label,
.gfield_time_minute label {
    display: block;
}

.gfield_time_ampm {
    vertical-align: top;
}

.gfield {
    width: 100%;
    list-style-type: none;
    clear: both;
    overflow: auto;
    padding: 0 10px 15px;
    padding: 0 1rem 1.5rem;
    margin: 0;
}

.gfield .validation_message {
    margin-top: 10px;
    margin-top: 1rem;
}

.gfield li {
    list-style-type: none;
}

.gform_validation_container {
    display: none;
}

.gform_footer .gform_button {
    width: auto;
}

.ginput_full input,
.ginput_full select,
.ginput_full textarea,
.ginput_left input,
.ginput_left select,
.ginput_left textarea,
.ginput_right input,
.ginput_right select,
.ginput_right textarea {
    margin-bottom: 5px;
    margin-bottom: 0.5rem;
    width: 100%;
}

.ginput_full label,
.ginput_left label,
.ginput_right label {
    display: block;
}

.ginput_full {
    display: block;
}

.ginput_left {
    float: left;
    padding-right: 10px;
    padding-right: 1rem;
}

.ginput_right {
    float: right;
}

.gf_left_half,
.gf_left_third,
.gf_middle_third,
.gf_first_quarter,
.gf_second_quarter {
    clear: none;
    float: left;
    padding-right: 10px;
    padding-right: 1rem;
    padding-bottom: 10px;
    padding-bottom: 1rem;
}

.gf_right_half,
.gf_right_third,
.gf_fourth_quarter {
    clear: none;
    float: right;
    padding-bottom: 10px;
    padding-bottom: 1rem;
}

.gf_third_quarter {
    clear: none;
    float: left;
    padding-bottom: 10px;
    padding-bottom: 1rem;
}

.gf_list_2col li,
.gf_list_3col li,
.gf_list_4col li,
.gf_list_5col li {
    float: left;
    padding-bottom: 10px;
    padding-bottom: 1rem;
}

.gf_list_inline li {
    display: inline-block;
    padding-right: 10px;
    padding-right: 1rem;
    padding-bottom: 10px;
    padding-bottom: 1rem;
}

/* ## Front Page
--------------------------------------------- */
.front-page-1,
.front-page-2,
.front-page-3,
.front-page-4,
.front-page-5 {
    width: 100%;
    padding: 60px 0;
    padding: 6rem 0;
    background-color: #ffffff;
    border-bottom: 1px solid #f0f1f2;
    border-bottom: 0.1rem solid #f0f1f2;
}

.front-page-1 {
    padding: calc(20vw + 7rem) 0 20vw;
    position: relative;
    background-color: #30353a;
    clear: both;
}

.front-page-1:before,
.front-page-1:after {
    clear: both;
    display: block;
    content: '';
}

.front-page-1 .wrap {
    position: relative;
    text-align: center;
}

.front-page-1 .widget {
    background-color: transparent;
}

.front-page-1 .widget:last-of-type {
    margin-bottom: 10px;
    margin-bottom: 1rem;
}

.front-page-1 h1 {
    margin: 0 0 0.618em;
}

.front-page-1 p {
    margin: 0 0 1.382em;
}

/* ## Custom Header
--------------------------------------------- */
.wp-custom-header {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.wp-custom-header img,
.wp-custom-header video,
.wp-custom-header iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: auto;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    max-height: none;
    object-fit: cover;
}

.wp-custom-header iframe {
    left: -25%;
    right: -25%;
    height: 150%;
    width: 150%;
}

/* # Print Styles
--------------------------------------------- */

@media (min-width: 512px) {
    .button + button,
    .button + .button,
    button + button,
    button + .button,
    input[type='button'] + button,
    input[type='button'] + .button,
    input[type='reset'] + button,
    input[type='reset'] + .button,
    input[type='submit'] + button,
    input[type='submit'] + .button {
        margin-top: 0;
        clear: none;
    }
    .gallery-item {
        width: 48.717948717948715%;
        margin-bottom: 2.564102564102564%;
    }
    .ginput_container input.large,
    .ginput_container select.large,
    .ginput_container textarea.large {
        width: 100%;
    }
    .ginput_container input.medium,
    .ginput_container select.medium,
    .ginput_container textarea.medium {
        width: 66%;
    }
    .ginput_container input.small,
    .ginput_container select.small,
    .ginput_container textarea.small {
        width: 33%;
    }
    .ginput_left,
    .ginput_right {
        width: 50%;
    }
    .left_label label.gfield_label,
    .right_label label.gfield_label {
        width: 25%;
    }
    li.gf_left_half,
    li.gf_right_half,
    .gf_list_2col li {
        width: 50%;
    }
    li.gf_left_third,
    li.gf_right_third,
    .gf_list_3col li {
        width: 33%;
    }
    li.gf_middle_third {
        width: 34%;
    }
    li.gf_first_quarter,
    li.gf_second_quarter,
    li.gf_third_quarter,
    li.gf_fourth_quarter,
    .gf_list_4col li {
        width: 25%;
    }
    .gf_list_5col li {
        width: 20%;
    }
}

@media (min-width: 768px) {
    body {
        font-size: 2rem;
    }
    body > div {
        font-size: 2rem;
    }
    .content-sidebar-wrap,
    .wrap {
        width: 90%;
        max-width: 1280px;
        padding-left: 0;
        padding-right: 0;
    }
    .one-half,
    .one-third,
    .one-fourth,
    .one-fifth,
    .one-sixth,
    .two-thirds,
    .two-fourths,
    .two-fifths,
    .two-sixths,
    .three-fourths,
    .three-fifths,
    .three-sixths,
    .four-fifths,
    .four-sixths,
    .five-sixths {
        float: left;
        margin-left: 2.564102564102564%;
    }
    .one-half,
    .three-sixths,
    .two-fourths {
        width: 48.717948717948715%;
    }
    .one-third,
    .two-sixths,
    .gallery-columns-3 .gallery-item {
        width: 31.623931623931625%;
    }
    .four-sixths,
    .two-thirds {
        width: 65.81196581196582%;
    }
    .one-fourth,
    .gallery-columns-4 .gallery-item {
        width: 23.076923076923077%;
    }
    .three-fourths {
        width: 74.35897435897436%;
    }
    .one-fifth,
    .gallery-columns-5 .gallery-item {
        width: 17.9487179487179488%;
    }
    .two-fifths {
        width: 38.4615384615384616%;
    }
    .three-fifths {
        width: 58.9743589743589744%;
    }
    .four-fifths {
        width: 79.4871794871794872%;
    }
    .one-sixth,
    .gallery-columns-6 .gallery-item {
        width: 14.52991452991453%;
    }
    .five-sixths {
        width: 82.90598290598291%;
    }
    .first {
        clear: both;
        margin-left: 0;
    }
    .breadcrumb {
        padding: 1em 6rem;
    }
    .after-entry,
    .author-box {
        margin-bottom: 4rem;
        padding: 6rem;
    }
    .entry + .author-box {
        margin-top: 4rem;
        margin-bottom: 0;
    }
    .page-header {
        padding: 18rem 0 6rem;
    }
    .nav-primary,
    .nav-secondary {
        margin: 0 -5vw;
    }
    .nav-footer .menu {
        margin-bottom: 1.5em;
    }
    .entry {
        padding: 6rem;
        margin-bottom: 4rem;
    }
    .entry-footer {
        margin-top: 4rem;
        padding-top: 4rem;
    }
    .comment-respond,
    .entry-comments,
    .entry-pings {
        padding: 6rem;
    }
    .comment-header {
        margin-bottom: 2em;
    }
    .sidebar .widget {
        margin-top: 4rem;
        padding: 4rem;
    }
    .site-footer > .wrap {
        width: 90%;
        max-width: 1280px;
        padding: 6rem 0;
    }
    .site-footer .widget-area {
        margin-bottom: 0;
    }
    .footer-widgets .wrap {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .footer-widgets .widget-area {
        -ms-flex: 1;
            flex: 1;
        margin-left: 2.564102564102564%;
    }
    .footer-widgets .widget-area:first-of-type {
        margin-left: 0;
    }
    .front-page-1,
    .front-page-2,
    .front-page-3,
    .front-page-4,
    .front-page-5 {
        padding: 6rem 0 2rem;
    }
    .front-page-1 .wrap,
    .front-page-2 .wrap,
    .front-page-3 .wrap,
    .front-page-4 .wrap,
    .front-page-5 .wrap {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .front-page-1 {
        padding: calc(20vh + 12rem) 0 20vh;
    }
}

@media (min-width: 896px) {
    .content-sidebar-wrap {
        padding: 4rem 0;
    }
    .content-sidebar-wrap {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .content-sidebar-wrap:before,
    .content-sidebar-wrap:after {
        display: none;
    }
    .sidebar-content .content-sidebar-wrap {
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    }
    .content {
        width: 100%;
    }
    .sidebar-primary {
        width: 25%;
    }
    .sidebar-content .content,
    .content-sidebar .content {
        width: calc(75% - 4rem);
    }
    .home .content {
        width: 100%;
    }
    .site-header > .wrap {
        padding: 0;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    }
    .title-area {
        padding: 1.382em 0;
        max-width: 24rem;
    }
    .site-title {
        font-size: 3rem;
    }
    .site-description {
        text-align: left;
        font-size: 1.6rem;
        line-height: 1.382;
    }
    .menu-item {
        display: inline-block;
        padding: 0;
        width: auto;
    }
    .menu-item:first-of-type > a {
        padding-left: 0;
    }
    .menu-item:last-of-type a {
        padding-right: 0;
    }
    .menu-item a {
        padding: 1.6em 1em;
    }
    .sub-menu {
        top: 100%;
        position: absolute;
        width: 20rem;
        z-index: 99;
        background-color: #ffffff;
        border: 0.1rem solid #f0f1f2;
        padding: 0.5em 0;
    }
    .sub-menu li:first-of-type {
        margin-top: 0;
    }
    .sub-menu a {
        padding: 1em;
        position: relative;
        word-wrap: break-word;
    }
    .sub-menu .sub-menu {
        margin: -0.1rem 0 0 19.9rem;
        padding-left: 0;
        left: -0.1rem;
        top: -0.5em;
        border: 0.1rem solid #f0f1f2;
    }
    .nav-primary,
    .nav-secondary {
        border: none;
        position: relative;
        left: auto;
        width: auto;
        display: block;
        margin: 0;
        padding: 0;
    }
    .no-js .nav-primary,
    .no-js
    .nav-secondary {
        display: block;
        width: auto;
    }
    .nav-primary .menu,
    .nav-secondary .menu {
        padding: 0;
    }
    .nav-secondary {
        width: 100%;
        border-top: 0.1rem solid #f0f1f2;
    }
    .menu-toggle {
        display: none;
    }
    .sub-menu-toggle {
        display: none;
    }
    .pagination {
        margin: 4rem 0 0;
    }
    .widget {
        margin-bottom: 4rem;
    }
    .widget:last-of-type {
        margin-bottom: 4rem;
    }
    .sidebar .widget:first-of-type {
        margin-top: 0;
    }
    .front-page-1 .wrap {
        max-width: 768px;
    }
}

@media (min-width: 1152px) {
    .title-area {
        padding: 1.618em 0;
        max-width: 24rem;
    }
    .menu-item a {
        padding: 1.82em 1.25em;
    }
}

@media (min-width: 1280px) {
    .sub-menu a {
        padding: 1em;
    }
    .comment-respond input[type='email'],
    .comment-respond input[type='text'],
    .comment-respond input[type='url'] {
        width: 50%;
    }
}

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        box-shadow: none !important;
        color: #30353a !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: ' (' attr(href) ')';
    }
    abbr[title]:after {
        content: ' (' attr(title) ')';
    }
    a[href^='javascript:']:after,
    a[href^='#']:after,
    .site-title > a:after {
        content: '';
    }
    thead {
        display: table-header-group;
    }
    img,
    tr {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    @page {
        margin: 2cm 0.5cm;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    blockquote,
    pre {
        border: 0.1rem solid #f0f1f2;
        page-break-inside: avoid;
    }
    .content,
    .content-sidebar {
        width: 100%;
    }
    button,
    input,
    select,
    textarea,
    .breadcrumb,
    .comment-edit-link,
    .comment-form,
    .comment-list .reply a,
    .comment-reply-title,
    .edit-link,
    .entry-comments-link,
    .entry-footer,
    .genesis-box,
    .header-widget-area,
    .hidden-print,
    .home-top,
    .nav-primary,
    .nav-secondary,
    .post-edit-link,
    .sidebar {
        display: none !important;
    }
    .title-area {
        text-align: center;
        width: 100%;
    }
    .site-title > a {
        margin: 0;
        text-decoration: none;
        text-indent: 0;
    }
    .site-inner {
        padding-top: 0;
        position: relative;
        top: -10rem;
    }
    .author-box {
        margin-bottom: 0;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        orphans: 3;
        page-break-after: avoid;
        page-break-inside: avoid;
        widows: 3;
    }
    img {
        page-break-after: avoid;
        page-break-inside: avoid;
    }
    blockquote,
    pre,
    table {
        page-break-inside: avoid;
    }
    dl,
    ol,
    ul {
        page-break-before: avoid;
    }
}
